body {
  font-family: Arial;
  margin: 0;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: white;
  padding: 10px;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px;
  background: #f4f4f4;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

/* CARD */
.card {
  background: #eee;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}